# Solution of Pandas Assignment

**Short Link**:https://bit.ly/DSAPandasAssignSolutn <br>
**Copyright by**: [Curvelogics Pvt Ltd](https://curvelogics.com)<br>
![image.png]()

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(100)
set1df = pd.DataFrame(data=np.random.randn(6,4), index=pd.date_range('20210101', periods=6),columns=list('wxyz'))
set1df

                   w         x         y         z
2021-01-01 -1.749765  0.342680  1.153036 -0.252436
2021-01-02  0.981321  0.514219  0.221180 -1.070043
2021-01-03 -0.189496  0.255001 -0.458027  0.435163
2021-01-04 -0.583595  0.816847  0.672721 -0.104411
2021-01-05 -0.531280  1.029733 -0.438136 -1.118318
2021-01-06  1.618982  1.541605 -0.251879 -0.842436

**Q1. Complete the below function to return column w, the function should return a Series object of length 6.**

In [3]:
def q1(set1df):
  #Fill in your code here
  return set1df.w

q1(set1df)

2021-01-01   -1.749765
2021-01-02    0.981321
2021-01-03   -0.189496
2021-01-04   -0.583595
2021-01-05   -0.531280
2021-01-06    1.618982
Freq: D, Name: w, dtype: float64

**Q2. Complete the below function to return third row, the function should return a Series object of length 4.**

In [4]:
def q2(set1df):
  #Fill in your code here
  return set1df.iloc[3]
q2(set1df)

w   -0.583595
x    0.816847
y    0.672721
z   -0.104411
Name: 2021-01-04 00:00:00, dtype: float64

**Q3. Complete the below function to select last three rows from the above dataframe, the function should return a DataFrame object of length 3 rows and 4 columns..**

In [5]:
def q3(set1df):
  #Fill in your code here
  return set1df.tail(3)
q3(set1df)

                   w         x         y         z
2021-01-04 -0.583595  0.816847  0.672721 -0.104411
2021-01-05 -0.531280  1.029733 -0.438136 -1.118318
2021-01-06  1.618982  1.541605 -0.251879 -0.842436

**Q4. Complete the below function to sort the column 'y' in ascending order in the above dataframe, the function should return a DataFrame object of length 6rows and 4 columns.**

In [6]:
def q4(set1df):
  #Fill in your code here
  df1=set1df.sort_values("y")
  return df1
q4(set1df)

                   w         x         y         z
2021-01-03 -0.189496  0.255001 -0.458027  0.435163
2021-01-05 -0.531280  1.029733 -0.438136 -1.118318
2021-01-06  1.618982  1.541605 -0.251879 -0.842436
2021-01-02  0.981321  0.514219  0.221180 -1.070043
2021-01-04 -0.583595  0.816847  0.672721 -0.104411
2021-01-01 -1.749765  0.342680  1.153036 -0.252436

**Q5. Write a Pandas program to select the 'x' and 'y' columns from the above DataFrame, the function should return a DataFrame object of length 6 rows and 2 columns ..**

In [7]:
def q5(set1df):
   return set1df.loc[:,["x","y"]]
q5(set1df)

                   x         y
2021-01-01  0.342680  1.153036
2021-01-02  0.514219  0.221180
2021-01-03  0.255001 -0.458027
2021-01-04  0.816847  0.672721
2021-01-05  1.029733 -0.438136
2021-01-06  1.541605 -0.251879

**Q6.Display a summary of the basic information about this DataFrame and its data, the function should return a DataFrame object of length 8 rows and 4 columns .**

In [8]:
def q6(set1df):
  #Fill in your code here
  return (set1df.describe())
q6(set1df)

              w         x         y         z
count  6.000000  6.000000  6.000000  6.000000
mean  -0.075639  0.750014  0.149816 -0.492080
std    1.205835  0.484950  0.657494  0.619106
min   -1.749765  0.255001 -0.458027 -1.118318
25%   -0.570516  0.385565 -0.391572 -1.013141
50%   -0.360388  0.665533 -0.015350 -0.547436
75%    0.688617  0.976511  0.559836 -0.141417
max    1.618982  1.541605  1.153036  0.435163

**Q7. Return a dataframe retaining only values greater than 0 and all other values set as NaN,the function should return a DataFrame object of length 6 rows and 4 columns.**

In [9]:
def q7(set1df):
  df1=set1df[set1df>0]
  return df1
q7(set1df)

                   w         x         y         z
2021-01-01       NaN  0.342680  1.153036       NaN
2021-01-02  0.981321  0.514219  0.221180       NaN
2021-01-03       NaN  0.255001       NaN  0.435163
2021-01-04       NaN  0.816847  0.672721       NaN
2021-01-05       NaN  1.029733       NaN       NaN
2021-01-06  1.618982  1.541605       NaN       NaN

**Q8. Create a series with [7,2,4,9,5,6] and series of dates starting from  '20210102'as index and add it as a new column with column name newCol,the function should return a DataFrame object of length 6 rows and 5
 columns .**

In [10]:
def q8(set1df):
  s=pd.Series([7,2,4,9,5,6],index=pd.date_range( '20210102',periods=6))
  set1df["newcol"]=s
  return set1df
q8(set1df)

                   w         x         y         z  newcol
2021-01-01 -1.749765  0.342680  1.153036 -0.252436     NaN
2021-01-02  0.981321  0.514219  0.221180 -1.070043     7.0
2021-01-03 -0.189496  0.255001 -0.458027  0.435163     2.0
2021-01-04 -0.583595  0.816847  0.672721 -0.104411     4.0
2021-01-05 -0.531280  1.029733 -0.438136 -1.118318     9.0
2021-01-06  1.618982  1.541605 -0.251879 -0.842436     5.0

**Q9. Complete the function to return three largest values from column col2 of the DataFrame set2df after grouping the DataFrame by column col1,return DataFrame which contains three values from col2 against each unique value of col1  :**

**set2df = pd.DataFrame({'col1': list('aaabbcaabcccbbc'), 
                   'col2': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})**

In [11]:
set2df = pd.DataFrame({'col1': list('aaabbcaabcccbbc'), 'col2': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
set2df

   col1  col2
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

In [12]:
def q9(set2df):
  #Fill in your code here
  df1=set2df.groupby('col1').apply(lambda x: x.loc[:,["col2"]].nlargest(3,"col2"))
  return df1
q9(set2df)

         col2
col1
a    1    345
     7     52
     0     12
b    12    57
     8     54
     4     45
c    10   235
     14    87
     9     23

**Q10. Create a DataFrame set3df from this dictionary "Company" 
and and use the list named "index" as DataFrames row index, the function should return a DataFrame object of length 3 rows and 2 columns.**

In [13]:
Company={"Comp_name":["TCS","Infosys","CATS"],"place":["Trivandrum","Banglore","Ernakulam"]}
index=list("abc")
set3df=pd.DataFrame(data=Company,index=list("abc") )

In [14]:
def q10(set3df):
  set3df=pd.DataFrame(data=Company,index=list("abc") )
  return set3df
q10(set3df)

  Comp_name       place
a       TCS  Trivandrum
b   Infosys    Banglore
c      CATS   Ernakulam


 **Q11. Create a DataFrame set4df from this dictionary "data" and use the list named "labels" as DataFrames row index, the function should return a DataFrame object of length 10 rows and 4 columns.**

In [15]:
import numpy as np
import pandas as pd

data = {'patients': ['Jack', 'Annie', 'Gopal', 'Renuka', 'Charlie', 'Charlie', 'Annie', 'Jack', 'Charlie', 'Renuka'],
        'age': [25, 30, 50, np.nan, 50, 20, 20, np.nan, 20, np.nan],
        'visits': [1, 3, 2, 3, 2, 3, 4, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

set4df =pd.DataFrame(data=data,index=labels)

In [16]:
def q11(set4df):
  #Fill in your code here
  return set4df
q11(set4df)

  patients   age  visits priority
a     Jack  25.0       1      yes
b    Annie  30.0       3      yes
c    Gopal  50.0       2       no
d   Renuka   NaN       3      yes
e  Charlie  50.0       2       no
f  Charlie  20.0       3       no
g    Annie  20.0       4       no
h     Jack   NaN       1      yes
i  Charlie  20.0       2       no
j   Renuka   NaN       1       no

**Q12. Complete the function using Dataframe set4df . the function should return tuple containing two dataframes,the first dataframe should  contain first 3 rows of set4df and second dataframe contain first two rows of set4df. Use "head" and "iloc" for the first and second dataframe respectively**

In [17]:
def q11(set4df):
  #Fill in your code here
  return set4df.head(3),set4df.iloc[:2]
q11(set4df)

(  patients   age  visits priority
 a     Jack  25.0       1      yes
 b    Annie  30.0       3      yes
 c    Gopal  50.0       2       no,   patients   age  visits priority
 a     Jack  25.0       1      yes
 b    Annie  30.0       3      yes)

**Q13. Select the rows where the age is missing, i.e. it is NaN, the function should return a DataFrame object of length 3 rows and 4 columns.**

In [18]:
def q12(set4df):
  #Fill in your code here
  return set4df[set4df.age.isnull()]
q12(set4df)

  patients  age  visits priority
d   Renuka  NaN       3      yes
h     Jack  NaN       1      yes
j   Renuka  NaN       1       no

**Q14. Select only the rows where the number of visits is greater than 3,the function should return a DataFrame object of length 1 row and 4 columns.**

In [19]:
def q13(set4df):
  #Fill in your code here
  return set4df[set4df.visits>3]
q13(set4df)

  patients   age  visits priority
g    Annie  20.0       4       no

**Q15. Change the age in row 'f' to 25, the function should return a DataFrame object of length 1 row and 4 columns.**

In [20]:
def q14(set4df):
  set4df.loc['f','age']=25
  return set4df
q14(set4df)

  patients   age  visits priority
a     Jack  25.0       1      yes
b    Annie  30.0       3      yes
c    Gopal  50.0       2       no
d   Renuka   NaN       3      yes
e  Charlie  50.0       2       no
f  Charlie  25.0       3       no
g    Annie  20.0       4       no
h     Jack   NaN       1      yes
i  Charlie  20.0       2       no
j   Renuka   NaN       1       no

**Q16. Calculate the mean visit for each patient in set4df, the function should return a Series object of length 5.**

In [21]:
def q15(set4df):
  #Fill in your code here
  return set4df.groupby('patients')["visits"].mean()
q15(set4df)

patients
Annie      3.500000
Charlie    2.333333
Gopal      2.000000
Jack       1.000000
Renuka     2.000000
Name: visits, dtype: float64

**Q17. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame, the function should return a DataFrame object of length 10 rows and 4 columns.**

In [42]:
def q16(set4df):
  k=["jay",2,3,4]
  set4df.loc['k'] = ["jay",2,3,4]
  set4df=set4df.drop("k")
  return set4df
set4df=q16(set4df)

**Q18. Sort set4df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order (so row i should be first, and row d should be last),  the function should return a DataFrame object of length 10 rows and 4 columns.**

In [43]:
def q17(set4df):
  #Fill in your code here
  return set4df.sort_values(by=["age","visits"],ascending=[False,True])

q17(set4df)

  patients   age  visits priority
c    Gopal  50.0       2       no
e  Charlie  50.0       2       no
b    Annie  30.0       3      yes
a     Jack  25.0       1      yes
f  Charlie  25.0       3       no
i  Charlie  20.0       2       no
g    Annie  20.0       4       no
h     Jack   NaN       1      yes
j   Renuka   NaN       1       no
d   Renuka   NaN       3      yes

**18. Create a new dataframe"new_df" in which column 'visits' is renamed as "no_visits", the function should return a DataFrame object of length 10 rows and 4 columns.**

In [44]:
def q18(set4df):
  #Fill in your code here
  new_df=set4df.rename(columns = {'visits':"no_visits"})
  return new_df
q18(set4df)

  patients   age  no_visits priority
a     Jack  25.0          1      yes
b    Annie  30.0          3      yes
c    Gopal  50.0          2       no
d   Renuka   NaN          3      yes
e  Charlie  50.0          2       no
f  Charlie  25.0          3       no
g    Annie  20.0          4       no
h     Jack   NaN          1      yes
i  Charlie  20.0          2       no
j   Renuka   NaN          1       no

**Q19. Write the above dataframe in to a csv file named "file1.csv".**

In [45]:
new_df=set4df.rename(columns = {'visits':"no_visits"})
def q20(new_df):
  #Fill in your code here
  return new_df.to_csv("file1.csv")
q20(new_df)

**Q20. Read  the csv file "file.csv" and return first five rows of it , the function should return a DataFrame object of length 5 rows and 4 columns.**

In [34]:
def q20():
  #Fill in your code here
  return pd.read_csv("file1.csv")
q20()

  Unnamed: 0 patients   age  no_visits priority
0          a     Jack  25.0          1      yes
1          b    Annie  30.0          3      yes
2          c    Gopal  50.0          2       no
3          d   Renuka   NaN          3      yes
4          e  Charlie  50.0          2       no
5          f  Charlie  25.0          3       no
6          g    Annie  20.0          4       no
7          h     Jack   NaN          1      yes
8          i  Charlie  20.0          2       no
9          j   Renuka   NaN          1       no

**Q21. Create three series,first series having integer elements of shape(5,),  second Series having string values of length 4 and the third Series having random  elements of shape (5,)  and convert it into DataFrame .**

In [35]:
def q21():
  #Fill in your code here
  df=pd.DataFrame({"s1":pd.Series([1,2,3,4,5]),
  "s2":pd.Series(["abcd"]*5),
  "s3":pd.Series(np.random.random(5))})
  return df

q21()

   s1    s2        s3
0   1  abcd  0.576901
1   2  abcd  0.742480
2   3  abcd  0.630184
3   4  abcd  0.581842
4   5  abcd  0.020439